/* -------- Style Application -------- */
/* -------- Variables -------- */
/* -------- Style about extends -------- */
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

.Toastify__toast {
  border-radius: 4px !important; }

/* -------- Reset style -------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  outline: none !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  min-height: 100%; }

body {
  background-color: #fff;
  font-family: 'Roboto';
  font-weight: 400;
  color: #333; }

ol, ul {
  list-style: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  outline: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  button:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

input[type=text], textarea {
  -webkit-appearance: none; }

/* -------- Utility -------- */
.clearfix {
  clear: both; }

.m0 {
  margin: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.m5 {
  margin: 5px !important; }

.mt5 {
  margin-top: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.m10 {
  margin: 10px !important; }

.mt10 {
  margin-top: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.m15 {
  margin: 15px !important; }

.mt15 {
  margin-top: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.m20 {
  margin: 20px !important; }

.mt20 {
  margin-top: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.m25 {
  margin: 25px !important; }

.mt25 {
  margin-top: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.m30 {
  margin: 30px !important; }

.mt30 {
  margin-top: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.m35 {
  margin: 35px !important; }

.mt35 {
  margin-top: 35px !important; }

.mr35 {
  margin-right: 35px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.ml35 {
  margin-left: 35px !important; }

.m40 {
  margin: 40px !important; }

.mt40 {
  margin-top: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.m45 {
  margin: 45px !important; }

.mt45 {
  margin-top: 45px !important; }

.mr45 {
  margin-right: 45px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.ml45 {
  margin-left: 45px !important; }

.m50 {
  margin: 50px !important; }

.mt50 {
  margin-top: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

.m55 {
  margin: 55px !important; }

.mt55 {
  margin-top: 55px !important; }

.mr55 {
  margin-right: 55px !important; }

.mb55 {
  margin-bottom: 55px !important; }

.ml55 {
  margin-left: 55px !important; }

.m60 {
  margin: 60px !important; }

.mt60 {
  margin-top: 60px !important; }

.mr60 {
  margin-right: 60px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.ml60 {
  margin-left: 60px !important; }

.m65 {
  margin: 65px !important; }

.mt65 {
  margin-top: 65px !important; }

.mr65 {
  margin-right: 65px !important; }

.mb65 {
  margin-bottom: 65px !important; }

.ml65 {
  margin-left: 65px !important; }

.p0 {
  padding: 0 !important; }

.pt0 {
  padding-top: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.p5 {
  padding: 5px !important; }

.pt5 {
  padding-top: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.p10 {
  padding: 10px !important; }

.pt10 {
  padding-top: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.p15 {
  padding: 15px !important; }

.pt15 {
  padding-top: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.p20 {
  padding: 20px !important; }

.pt20 {
  padding-top: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.p25 {
  padding: 25px !important; }

.pt25 {
  padding-top: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.p30 {
  padding: 30px !important; }

.pt30 {
  padding-top: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.p35 {
  padding: 35px !important; }

.pt35 {
  padding-top: 35px !important; }

.pr35 {
  padding-right: 35px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pl35 {
  padding-left: 35px !important; }

.p40 {
  padding: 40px !important; }

.pt40 {
  padding-top: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.p45 {
  padding: 45px !important; }

.pt45 {
  padding-top: 45px !important; }

.pr45 {
  padding-right: 45px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pl45 {
  padding-left: 45px !important; }

.p50 {
  padding: 50px !important; }

.pt50 {
  padding-top: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.p55 {
  padding: 55px !important; }

.pt55 {
  padding-top: 55px !important; }

.pr55 {
  padding-right: 55px !important; }

.pb55 {
  padding-bottom: 55px !important; }

.pl55 {
  padding-left: 55px !important; }

.p60 {
  padding: 60px !important; }

.pt60 {
  padding-top: 60px !important; }

.pr60 {
  padding-right: 60px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pl60 {
  padding-left: 60px !important; }

.p65 {
  padding: 65px !important; }

.pt65 {
  padding-top: 65px !important; }

.pr65 {
  padding-right: 65px !important; }

.pb65 {
  padding-bottom: 65px !important; }

.pl65 {
  padding-left: 65px !important; }

.min-width-0 {
  min-width: 0; }

.min-width-20 {
  min-width: 20px; }

.min-width-40 {
  min-width: 40px; }

.min-width-60 {
  min-width: 60px; }

.min-width-80 {
  min-width: 80px; }

.min-width-100 {
  min-width: 100px; }

.min-width-120 {
  min-width: 120px; }

.min-width-140 {
  min-width: 140px; }

.min-width-160 {
  min-width: 160px; }

.min-width-180 {
  min-width: 180px; }

.min-width-200 {
  min-width: 200px; }

.min-width-220 {
  min-width: 220px; }

.min-width-240 {
  min-width: 240px; }

.min-width-260 {
  min-width: 260px; }

.min-width-280 {
  min-width: 280px; }

.min-width-300 {
  min-width: 300px; }

.min-width-320 {
  min-width: 320px; }

.min-width-340 {
  min-width: 340px; }

.min-width-360 {
  min-width: 360px; }

.min-width-380 {
  min-width: 380px; }

.min-width-400 {
  min-width: 400px; }

.min-width-420 {
  min-width: 420px; }

.min-width-440 {
  min-width: 440px; }

.min-width-460 {
  min-width: 460px; }

.min-width-480 {
  min-width: 480px; }

.min-width-500 {
  min-width: 500px; }

.min-width-520 {
  min-width: 520px; }

.min-width-540 {
  min-width: 540px; }

.min-width-560 {
  min-width: 560px; }

.min-width-580 {
  min-width: 580px; }

.min-width-600 {
  min-width: 600px; }

.min-width-620 {
  min-width: 620px; }

.min-width-640 {
  min-width: 640px; }

.min-width-660 {
  min-width: 660px; }

.min-width-680 {
  min-width: 680px; }

.min-width-700 {
  min-width: 700px; }

.min-width-720 {
  min-width: 720px; }

.min-width-740 {
  min-width: 740px; }

.min-width-760 {
  min-width: 760px; }

.min-width-780 {
  min-width: 780px; }

.min-width-800 {
  min-width: 800px; }

.min-width-820 {
  min-width: 820px; }

.min-width-840 {
  min-width: 840px; }

.min-width-860 {
  min-width: 860px; }

.min-width-880 {
  min-width: 880px; }

.min-width-900 {
  min-width: 900px; }

.min-width-920 {
  min-width: 920px; }

.min-width-940 {
  min-width: 940px; }

.min-width-960 {
  min-width: 960px; }

.min-width-980 {
  min-width: 980px; }

.min-width-1000 {
  min-width: 1000px; }

.max-width-0 {
  max-width: 0; }

.max-width-5 {
  max-width: 5px; }

.max-width-10 {
  max-width: 10px; }

.max-width-15 {
  max-width: 15px; }

.max-width-20 {
  max-width: 20px; }

.max-width-25 {
  max-width: 25px; }

.max-width-30 {
  max-width: 30px; }

.max-width-35 {
  max-width: 35px; }

.max-width-40 {
  max-width: 40px; }

.max-width-45 {
  max-width: 45px; }

.max-width-50 {
  max-width: 50px; }

.max-width-55 {
  max-width: 55px; }

.max-width-60 {
  max-width: 60px; }

.max-width-65 {
  max-width: 65px; }

.max-width-70 {
  max-width: 70px; }

.max-width-75 {
  max-width: 75px; }

.max-width-80 {
  max-width: 80px; }

.max-width-85 {
  max-width: 85px; }

.max-width-90 {
  max-width: 90px; }

.max-width-95 {
  max-width: 95px; }

.max-width-100 {
  max-width: 100px; }

.max-width-105 {
  max-width: 105px; }

.max-width-110 {
  max-width: 110px; }

.max-width-115 {
  max-width: 115px; }

.max-width-120 {
  max-width: 120px; }

.max-width-125 {
  max-width: 125px; }

.max-width-130 {
  max-width: 130px; }

.max-width-135 {
  max-width: 135px; }

.max-width-140 {
  max-width: 140px; }

.max-width-145 {
  max-width: 145px; }

.max-width-150 {
  max-width: 150px; }

.max-width-155 {
  max-width: 155px; }

.max-width-160 {
  max-width: 160px; }

.max-width-165 {
  max-width: 165px; }

.max-width-170 {
  max-width: 170px; }

.max-width-175 {
  max-width: 175px; }

.max-width-180 {
  max-width: 180px; }

.max-width-185 {
  max-width: 185px; }

.max-width-190 {
  max-width: 190px; }

.max-width-195 {
  max-width: 195px; }

.max-width-200 {
  max-width: 200px; }

.max-width-205 {
  max-width: 205px; }

.max-width-210 {
  max-width: 210px; }

.max-width-215 {
  max-width: 215px; }

.max-width-220 {
  max-width: 220px; }

.max-width-225 {
  max-width: 225px; }

.max-width-230 {
  max-width: 230px; }

.max-width-235 {
  max-width: 235px; }

.max-width-240 {
  max-width: 240px; }

.max-width-245 {
  max-width: 245px; }

.max-width-250 {
  max-width: 250px; }

.max-width-255 {
  max-width: 255px; }

.max-width-260 {
  max-width: 260px; }

.max-width-265 {
  max-width: 265px; }

.max-width-270 {
  max-width: 270px; }

.max-width-275 {
  max-width: 275px; }

.max-width-280 {
  max-width: 280px; }

.max-width-285 {
  max-width: 285px; }

.max-width-290 {
  max-width: 290px; }

.max-width-295 {
  max-width: 295px; }

.max-width-300 {
  max-width: 300px; }

.max-width-305 {
  max-width: 305px; }

.max-width-310 {
  max-width: 310px; }

.max-width-315 {
  max-width: 315px; }

.max-width-320 {
  max-width: 320px; }

.max-width-325 {
  max-width: 325px; }

.max-width-330 {
  max-width: 330px; }

.max-width-335 {
  max-width: 335px; }

.max-width-340 {
  max-width: 340px; }

.max-width-345 {
  max-width: 345px; }

.max-width-350 {
  max-width: 350px; }

.max-width-355 {
  max-width: 355px; }

.max-width-360 {
  max-width: 360px; }

.max-width-365 {
  max-width: 365px; }

.max-width-370 {
  max-width: 370px; }

.max-width-375 {
  max-width: 375px; }

.max-width-380 {
  max-width: 380px; }

.max-width-385 {
  max-width: 385px; }

.max-width-390 {
  max-width: 390px; }

.max-width-395 {
  max-width: 395px; }

.max-width-400 {
  max-width: 400px; }

.max-width-405 {
  max-width: 405px; }

.max-width-410 {
  max-width: 410px; }

.max-width-415 {
  max-width: 415px; }

.max-width-420 {
  max-width: 420px; }

.max-width-425 {
  max-width: 425px; }

.max-width-430 {
  max-width: 430px; }

.max-width-435 {
  max-width: 435px; }

.max-width-440 {
  max-width: 440px; }

.max-width-445 {
  max-width: 445px; }

.max-width-450 {
  max-width: 450px; }

.max-width-455 {
  max-width: 455px; }

.max-width-460 {
  max-width: 460px; }

.max-width-465 {
  max-width: 465px; }

.max-width-470 {
  max-width: 470px; }

.max-width-475 {
  max-width: 475px; }

.max-width-480 {
  max-width: 480px; }

.max-width-485 {
  max-width: 485px; }

.max-width-490 {
  max-width: 490px; }

.max-width-495 {
  max-width: 495px; }

.max-width-500 {
  max-width: 500px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.no-border {
  border: none !important;
  box-shadow: none !important; }

/* -------- Style about button -------- */
/* -------- Style about input -------- */
/* -------- Style about table -------- */
/* -------- Style about form -------- */
/* -------- Style about text -------- */
.text-uppercase {
  text-transform: uppercase; }

.font-weight-500 {
  font-weight: 500; }

.font-weight-600 {
  font-weight: 600; }

.font-size-18 {
  font-size: 18px; }

.font-size-11 {
  font-size: 11px !important; }

/* -------- Style about color -------- */
.color-blue {
  color: #0E5ACE; }

.color-red {
  color: #c6444b; }

/* -------- Custom style of ant design -------- */
.code-box-demo {
  text-align: center; }

.ant-layout-header,
.ant-layout-footer {
  background: #7dbcea;
  color: #fff; }

.ant-layout-footer {
  line-height: 1.5; }

.ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px; }

.ant-layout-content {
  background: #108ee9;
  color: #fff;
  min-height: 120px;
  line-height: 120px; }

> .code-box-demo > div > .ant-layout {
  margin-bottom: 48px; }

> .code-box-demo > div > .ant-layout:last-child {
  margin: 0; }

/* -------- GLobal style -------- */
#root {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hide {
  display: none; }

.no-shadow {
  box-shadow: none; }

.d-block {
  display: block; }

.justify-content-center {
  justify-content: center; }

.column-25 {
  float: left;
  width: 25%; }

.w-0 {
  width: 0 !important; }

.size18 {
  font-size: 18px; }

.size24 {
  font-size: 24px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

.font-family-bold {
  font-family: "Roboto", sans-serif;
  font-weight: bold; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.cursor-default {
  cursor: default; }

.cursor-pointer {
  cursor: pointer; }

.w-100 {
  width: 100%; }

.flex-wrap-nowrap {
  flex-wrap: nowrap; }

.d-flex {
  display: flex; }

.flex-direction-column {
  flex-direction: column; }

.border-bottom {
  border-bottom: 1px solid #e8e8e8; }

.inline-block {
  display: inline-block !important; }

.pre-line {
  white-space: pre-line !important; }

.link-underline span {
  text-decoration: underline; }

.bold {
  font-weight: 700; }

/* -------- Custom style of ant design -------- */
/* -------- Style about header -------- */
/* -------- Style about footer -------- */
/* -------- Style about sidebar -------- */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/family/Roboto-BoldItalic.eot");
  src: url("../fonts/family/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/family/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/family/Roboto-BoldItalic.woff") format("woff"), url("../fonts/family/Roboto-BoldItalic.ttf") format("truetype"), url("../fonts/family/Roboto-BoldItalic.svg#Roboto-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/family/Roboto-Light.eot");
  src: url("../fonts/family/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/family/Roboto-Light.woff2") format("woff2"), url("../fonts/family/Roboto-Light.woff") format("woff"), url("../fonts/family/Roboto-Light.ttf") format("truetype"), url("../fonts/family/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/family/Roboto-Bold.eot");
  src: url("../fonts/family/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/family/Roboto-Bold.woff2") format("woff2"), url("../fonts/family/Roboto-Bold.woff") format("woff"), url("../fonts/family/Roboto-Bold.ttf") format("truetype"), url("../fonts/family/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/family/Roboto-Medium.eot");
  src: url("../fonts/family/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/family/Roboto-Medium.woff2") format("woff2"), url("../fonts/family/Roboto-Medium.woff") format("woff"), url("../fonts/family/Roboto-Medium.ttf") format("truetype"), url("../fonts/family/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/family/Roboto-Regular.eot");
  src: url("../fonts/family/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/family/Roboto-Regular.woff2") format("woff2"), url("../fonts/family/Roboto-Regular.woff") format("woff"), url("../fonts/family/Roboto-Regular.ttf") format("truetype"), url("../fonts/family/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/family/Roboto-Italic.eot");
  src: url("../fonts/family/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/family/Roboto-Italic.woff2") format("woff2"), url("../fonts/family/Roboto-Italic.woff") format("woff"), url("../fonts/family/Roboto-Italic.ttf") format("truetype"), url("../fonts/family/Roboto-Italic.svg#Roboto-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?o7fpdt");
  src: url("../fonts/icomoon/icomoon.eot?o7fpdt#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?o7fpdt") format("truetype"), url("../fonts/icomoon/icomoon.woff?o7fpdt") format("woff"), url("../fonts/icomoon/icomoon.svg?o7fpdt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: "\e900"; }

.icon-home2:before {
  content: "\e901"; }

.icon-home3:before {
  content: "\e902"; }

.icon-office:before {
  content: "\e903"; }

.icon-newspaper:before {
  content: "\e904"; }

.icon-pencil:before {
  content: "\e905"; }

.icon-pencil2:before {
  content: "\e906"; }

.icon-quill:before {
  content: "\e907"; }

.icon-pen:before {
  content: "\e908"; }

.icon-blog:before {
  content: "\e909"; }

.icon-eyedropper:before {
  content: "\e90a"; }

.icon-droplet:before {
  content: "\e90b"; }

.icon-paint-format:before {
  content: "\e90c"; }

.icon-image:before {
  content: "\e90d"; }

.icon-images:before {
  content: "\e90e"; }

.icon-camera:before {
  content: "\e90f"; }

.icon-headphones:before {
  content: "\e910"; }

.icon-music:before {
  content: "\e911"; }

.icon-play:before {
  content: "\e912"; }

.icon-film:before {
  content: "\e913"; }

.icon-video-camera:before {
  content: "\e914"; }

.icon-dice:before {
  content: "\e915"; }

.icon-pacman:before {
  content: "\e916"; }

.icon-spades:before {
  content: "\e917"; }

.icon-clubs:before {
  content: "\e918"; }

.icon-diamonds:before {
  content: "\e919"; }

.icon-bullhorn:before {
  content: "\e91a"; }

.icon-connection:before {
  content: "\e91b"; }

.icon-podcast:before {
  content: "\e91c"; }

.icon-feed:before {
  content: "\e91d"; }

.icon-mic:before {
  content: "\e91e"; }

.icon-book:before {
  content: "\e91f"; }

.icon-books:before {
  content: "\e920"; }

.icon-library:before {
  content: "\e921"; }

.icon-file-text:before {
  content: "\e922"; }

.icon-profile:before {
  content: "\e923"; }

.icon-file-empty:before {
  content: "\e924"; }

.icon-files-empty:before {
  content: "\e925"; }

.icon-file-text2:before {
  content: "\e926"; }

.icon-file-picture:before {
  content: "\e927"; }

.icon-file-music:before {
  content: "\e928"; }

.icon-file-play:before {
  content: "\e929"; }

.icon-file-video:before {
  content: "\e92a"; }

.icon-file-zip:before {
  content: "\e92b"; }

.icon-copy:before {
  content: "\e92c"; }

.icon-paste:before {
  content: "\e92d"; }

.icon-stack:before {
  content: "\e92e"; }

.icon-folder:before {
  content: "\e92f"; }

.icon-folder-open:before {
  content: "\e930"; }

.icon-folder-plus:before {
  content: "\e931"; }

.icon-folder-minus:before {
  content: "\e932"; }

.icon-folder-download:before {
  content: "\e933"; }

.icon-folder-upload:before {
  content: "\e934"; }

.icon-price-tag:before {
  content: "\e935"; }

.icon-price-tags:before {
  content: "\e936"; }

.icon-barcode:before {
  content: "\e937"; }

.icon-qrcode:before {
  content: "\e938"; }

.icon-ticket:before {
  content: "\e939"; }

.icon-cart:before {
  content: "\e93a"; }

.icon-coin-dollar:before {
  content: "\e93b"; }

.icon-coin-euro:before {
  content: "\e93c"; }

.icon-coin-pound:before {
  content: "\e93d"; }

.icon-coin-yen:before {
  content: "\e93e"; }

.icon-credit-card:before {
  content: "\e93f"; }

.icon-calculator:before {
  content: "\e940"; }

.icon-lifebuoy:before {
  content: "\e941"; }

.icon-phone:before {
  content: "\e942"; }

.icon-phone-hang-up:before {
  content: "\e943"; }

.icon-address-book:before {
  content: "\e944"; }

.icon-envelop:before {
  content: "\e945"; }

.icon-pushpin:before {
  content: "\e946"; }

.icon-location:before {
  content: "\e947"; }

.icon-location2:before {
  content: "\e948"; }

.icon-compass:before {
  content: "\e949"; }

.icon-compass2:before {
  content: "\e94a"; }

.icon-map:before {
  content: "\e94b"; }

.icon-map2:before {
  content: "\e94c"; }

.icon-history:before {
  content: "\e94d"; }

.icon-clock:before {
  content: "\e94e"; }

.icon-clock2:before {
  content: "\e94f"; }

.icon-alarm:before {
  content: "\e950"; }

.icon-bell:before {
  content: "\e951"; }

.icon-stopwatch:before {
  content: "\e952"; }

.icon-calendar:before {
  content: "\e953"; }

.icon-printer:before {
  content: "\e954"; }

.icon-keyboard:before {
  content: "\e955"; }

.icon-display:before {
  content: "\e956"; }

.icon-laptop:before {
  content: "\e957"; }

.icon-mobile:before {
  content: "\e958"; }

.icon-mobile2:before {
  content: "\e959"; }

.icon-tablet:before {
  content: "\e95a"; }

.icon-tv:before {
  content: "\e95b"; }

.icon-drawer:before {
  content: "\e95c"; }

.icon-drawer2:before {
  content: "\e95d"; }

.icon-box-add:before {
  content: "\e95e"; }

.icon-box-remove:before {
  content: "\e95f"; }

.icon-download:before {
  content: "\e960"; }

.icon-upload:before {
  content: "\e961"; }

.icon-floppy-disk:before {
  content: "\e962"; }

.icon-drive:before {
  content: "\e963"; }

.icon-database:before {
  content: "\e964"; }

.icon-undo:before {
  content: "\e965"; }

.icon-redo:before {
  content: "\e966"; }

.icon-undo2:before {
  content: "\e967"; }

.icon-redo2:before {
  content: "\e968"; }

.icon-forward:before {
  content: "\e969"; }

.icon-reply:before {
  content: "\e96a"; }

.icon-bubble:before {
  content: "\e96b"; }

.icon-bubbles:before {
  content: "\e96c"; }

.icon-bubbles2:before {
  content: "\e96d"; }

.icon-bubble2:before {
  content: "\e96e"; }

.icon-bubbles3:before {
  content: "\e96f"; }

.icon-bubbles4:before {
  content: "\e970"; }

.icon-user:before {
  content: "\e971"; }

.icon-users:before {
  content: "\e972"; }

.icon-user-plus:before {
  content: "\e973"; }

.icon-user-minus:before {
  content: "\e974"; }

.icon-user-check:before {
  content: "\e975"; }

.icon-user-tie:before {
  content: "\e976"; }

.icon-quotes-left:before {
  content: "\e977"; }

.icon-quotes-right:before {
  content: "\e978"; }

.icon-hour-glass:before {
  content: "\e979"; }

.icon-spinner:before {
  content: "\e97a"; }

.icon-spinner2:before {
  content: "\e97b"; }

.icon-spinner3:before {
  content: "\e97c"; }

.icon-spinner4:before {
  content: "\e97d"; }

.icon-spinner5:before {
  content: "\e97e"; }

.icon-spinner6:before {
  content: "\e97f"; }

.icon-spinner7:before {
  content: "\e980"; }

.icon-spinner8:before {
  content: "\e981"; }

.icon-spinner9:before {
  content: "\e982"; }

.icon-spinner10:before {
  content: "\e983"; }

.icon-spinner11:before {
  content: "\e984"; }

.icon-binoculars:before {
  content: "\e985"; }

.icon-search:before {
  content: "\e986"; }

.icon-zoom-in:before {
  content: "\e987"; }

.icon-zoom-out:before {
  content: "\e988"; }

.icon-enlarge:before {
  content: "\e989"; }

.icon-shrink:before {
  content: "\e98a"; }

.icon-enlarge2:before {
  content: "\e98b"; }

.icon-shrink2:before {
  content: "\e98c"; }

.icon-key:before {
  content: "\e98d"; }

.icon-key2:before {
  content: "\e98e"; }

.icon-lock:before {
  content: "\e98f"; }

.icon-unlocked:before {
  content: "\e990"; }

.icon-wrench:before {
  content: "\e991"; }

.icon-equalizer:before {
  content: "\e992"; }

.icon-equalizer2:before {
  content: "\e993"; }

.icon-cog:before {
  content: "\e994"; }

.icon-cogs:before {
  content: "\e995"; }

.icon-hammer:before {
  content: "\e996"; }

.icon-magic-wand:before {
  content: "\e997"; }

.icon-aid-kit:before {
  content: "\e998"; }

.icon-bug:before {
  content: "\e999"; }

.icon-pie-chart:before {
  content: "\e99a"; }

.icon-stats-dots:before {
  content: "\e99b"; }

.icon-stats-bars:before {
  content: "\e99c"; }

.icon-stats-bars2:before {
  content: "\e99d"; }

.icon-trophy:before {
  content: "\e99e"; }

.icon-gift:before {
  content: "\e99f"; }

.icon-glass:before {
  content: "\e9a0"; }

.icon-glass2:before {
  content: "\e9a1"; }

.icon-mug:before {
  content: "\e9a2"; }

.icon-spoon-knife:before {
  content: "\e9a3"; }

.icon-leaf:before {
  content: "\e9a4"; }

.icon-rocket:before {
  content: "\e9a5"; }

.icon-meter:before {
  content: "\e9a6"; }

.icon-meter2:before {
  content: "\e9a7"; }

.icon-hammer2:before {
  content: "\e9a8"; }

.icon-fire:before {
  content: "\e9a9"; }

.icon-lab:before {
  content: "\e9aa"; }

.icon-magnet:before {
  content: "\e9ab"; }

.icon-bin:before {
  content: "\e9ac"; }

.icon-bin2:before {
  content: "\e9ad"; }

.icon-briefcase:before {
  content: "\e9ae"; }

.icon-airplane:before {
  content: "\e9af"; }

.icon-truck:before {
  content: "\e9b0"; }

.icon-road:before {
  content: "\e9b1"; }

.icon-accessibility:before {
  content: "\e9b2"; }

.icon-target:before {
  content: "\e9b3"; }

.icon-shield:before {
  content: "\e9b4"; }

.icon-power:before {
  content: "\e9b5"; }

.icon-switch:before {
  content: "\e9b6"; }

.icon-power-cord:before {
  content: "\e9b7"; }

.icon-clipboard:before {
  content: "\e9b8"; }

.icon-list-numbered:before {
  content: "\e9b9"; }

.icon-list:before {
  content: "\e9ba"; }

.icon-list2:before {
  content: "\e9bb"; }

.icon-tree:before {
  content: "\e9bc"; }

.icon-menu:before {
  content: "\e9bd"; }

.icon-menu2:before {
  content: "\e9be"; }

.icon-menu3:before {
  content: "\e9bf"; }

.icon-menu4:before {
  content: "\e9c0"; }

.icon-cloud:before {
  content: "\e9c1"; }

.icon-cloud-download:before {
  content: "\e9c2"; }

.icon-cloud-upload:before {
  content: "\e9c3"; }

.icon-cloud-check:before {
  content: "\e9c4"; }

.icon-download2:before {
  content: "\e9c5"; }

.icon-upload2:before {
  content: "\e9c6"; }

.icon-download3:before {
  content: "\e9c7"; }

.icon-upload3:before {
  content: "\e9c8"; }

.icon-sphere:before {
  content: "\e9c9"; }

.icon-earth:before {
  content: "\e9ca"; }

.icon-link:before {
  content: "\e9cb"; }

.icon-flag:before {
  content: "\e9cc"; }

.icon-attachment:before {
  content: "\e9cd"; }

.icon-eye:before {
  content: "\e9ce"; }

.icon-eye-plus:before {
  content: "\e9cf"; }

.icon-eye-minus:before {
  content: "\e9d0"; }

.icon-eye-blocked:before {
  content: "\e9d1"; }

.icon-bookmark:before {
  content: "\e9d2"; }

.icon-bookmarks:before {
  content: "\e9d3"; }

.icon-sun:before {
  content: "\e9d4"; }

.icon-contrast:before {
  content: "\e9d5"; }

.icon-brightness-contrast:before {
  content: "\e9d6"; }

.icon-star-empty:before {
  content: "\e9d7"; }

.icon-star-half:before {
  content: "\e9d8"; }

.icon-star-full:before {
  content: "\e9d9"; }

.icon-heart:before {
  content: "\e9da"; }

.icon-heart-broken:before {
  content: "\e9db"; }

.icon-man:before {
  content: "\e9dc"; }

.icon-woman:before {
  content: "\e9dd"; }

.icon-man-woman:before {
  content: "\e9de"; }

.icon-happy:before {
  content: "\e9df"; }

.icon-happy2:before {
  content: "\e9e0"; }

.icon-smile:before {
  content: "\e9e1"; }

.icon-smile2:before {
  content: "\e9e2"; }

.icon-tongue:before {
  content: "\e9e3"; }

.icon-tongue2:before {
  content: "\e9e4"; }

.icon-sad:before {
  content: "\e9e5"; }

.icon-sad2:before {
  content: "\e9e6"; }

.icon-wink:before {
  content: "\e9e7"; }

.icon-wink2:before {
  content: "\e9e8"; }

.icon-grin:before {
  content: "\e9e9"; }

.icon-grin2:before {
  content: "\e9ea"; }

.icon-cool:before {
  content: "\e9eb"; }

.icon-cool2:before {
  content: "\e9ec"; }

.icon-angry:before {
  content: "\e9ed"; }

.icon-angry2:before {
  content: "\e9ee"; }

.icon-evil:before {
  content: "\e9ef"; }

.icon-evil2:before {
  content: "\e9f0"; }

.icon-shocked:before {
  content: "\e9f1"; }

.icon-shocked2:before {
  content: "\e9f2"; }

.icon-baffled:before {
  content: "\e9f3"; }

.icon-baffled2:before {
  content: "\e9f4"; }

.icon-confused:before {
  content: "\e9f5"; }

.icon-confused2:before {
  content: "\e9f6"; }

.icon-neutral:before {
  content: "\e9f7"; }

.icon-neutral2:before {
  content: "\e9f8"; }

.icon-hipster:before {
  content: "\e9f9"; }

.icon-hipster2:before {
  content: "\e9fa"; }

.icon-wondering:before {
  content: "\e9fb"; }

.icon-wondering2:before {
  content: "\e9fc"; }

.icon-sleepy:before {
  content: "\e9fd"; }

.icon-sleepy2:before {
  content: "\e9fe"; }

.icon-frustrated:before {
  content: "\e9ff"; }

.icon-frustrated2:before {
  content: "\ea00"; }

.icon-crying:before {
  content: "\ea01"; }

.icon-crying2:before {
  content: "\ea02"; }

.icon-point-up:before {
  content: "\ea03"; }

.icon-point-right:before {
  content: "\ea04"; }

.icon-point-down:before {
  content: "\ea05"; }

.icon-point-left:before {
  content: "\ea06"; }

.icon-warning:before {
  content: "\ea07"; }

.icon-notification:before {
  content: "\ea08"; }

.icon-question:before {
  content: "\ea09"; }

.icon-plus:before {
  content: "\ea0a"; }

.icon-minus:before {
  content: "\ea0b"; }

.icon-info:before {
  content: "\ea0c"; }

.icon-cancel-circle:before {
  content: "\ea0d"; }

.icon-blocked:before {
  content: "\ea0e"; }

.icon-cross:before {
  content: "\ea0f"; }

.icon-checkmark:before {
  content: "\ea10"; }

.icon-checkmark2:before {
  content: "\ea11"; }

.icon-spell-check:before {
  content: "\ea12"; }

.icon-enter:before {
  content: "\ea13"; }

.icon-exit:before {
  content: "\ea14"; }

.icon-play2:before {
  content: "\ea15"; }

.icon-pause:before {
  content: "\ea16"; }

.icon-stop:before {
  content: "\ea17"; }

.icon-previous:before {
  content: "\ea18"; }

.icon-next:before {
  content: "\ea19"; }

.icon-backward:before {
  content: "\ea1a"; }

.icon-forward2:before {
  content: "\ea1b"; }

.icon-play3:before {
  content: "\ea1c"; }

.icon-pause2:before {
  content: "\ea1d"; }

.icon-stop2:before {
  content: "\ea1e"; }

.icon-backward2:before {
  content: "\ea1f"; }

.icon-forward3:before {
  content: "\ea20"; }

.icon-first:before {
  content: "\ea21"; }

.icon-last:before {
  content: "\ea22"; }

.icon-previous2:before {
  content: "\ea23"; }

.icon-next2:before {
  content: "\ea24"; }

.icon-eject:before {
  content: "\ea25"; }

.icon-volume-high:before {
  content: "\ea26"; }

.icon-volume-medium:before {
  content: "\ea27"; }

.icon-volume-low:before {
  content: "\ea28"; }

.icon-volume-mute:before {
  content: "\ea29"; }

.icon-volume-mute2:before {
  content: "\ea2a"; }

.icon-volume-increase:before {
  content: "\ea2b"; }

.icon-volume-decrease:before {
  content: "\ea2c"; }

.icon-loop:before {
  content: "\ea2d"; }

.icon-loop2:before {
  content: "\ea2e"; }

.icon-infinite:before {
  content: "\ea2f"; }

.icon-shuffle:before {
  content: "\ea30"; }

.icon-arrow-up-left:before {
  content: "\ea31"; }

.icon-arrow-up:before {
  content: "\ea32"; }

.icon-arrow-up-right:before {
  content: "\ea33"; }

.icon-arrow-right:before {
  content: "\ea34"; }

.icon-arrow-down-right:before {
  content: "\ea35"; }

.icon-arrow-down:before {
  content: "\ea36"; }

.icon-arrow-down-left:before {
  content: "\ea37"; }

.icon-arrow-left:before {
  content: "\ea38"; }

.icon-arrow-up-left2:before {
  content: "\ea39"; }

.icon-arrow-up2:before {
  content: "\ea3a"; }

.icon-arrow-up-right2:before {
  content: "\ea3b"; }

.icon-arrow-right2:before {
  content: "\ea3c"; }

.icon-arrow-down-right2:before {
  content: "\ea3d"; }

.icon-arrow-down2:before {
  content: "\ea3e"; }

.icon-arrow-down-left2:before {
  content: "\ea3f"; }

.icon-arrow-left2:before {
  content: "\ea40"; }

.icon-circle-up:before {
  content: "\ea41"; }

.icon-circle-right:before {
  content: "\ea42"; }

.icon-circle-down:before {
  content: "\ea43"; }

.icon-circle-left:before {
  content: "\ea44"; }

.icon-tab:before {
  content: "\ea45"; }

.icon-move-up:before {
  content: "\ea46"; }

.icon-move-down:before {
  content: "\ea47"; }

.icon-sort-alpha-asc:before {
  content: "\ea48"; }

.icon-sort-alpha-desc:before {
  content: "\ea49"; }

.icon-sort-numeric-asc:before {
  content: "\ea4a"; }

.icon-sort-numberic-desc:before {
  content: "\ea4b"; }

.icon-sort-amount-asc:before {
  content: "\ea4c"; }

.icon-sort-amount-desc:before {
  content: "\ea4d"; }

.icon-command:before {
  content: "\ea4e"; }

.icon-shift:before {
  content: "\ea4f"; }

.icon-ctrl:before {
  content: "\ea50"; }

.icon-opt:before {
  content: "\ea51"; }

.icon-checkbox-checked:before {
  content: "\ea52"; }

.icon-checkbox-unchecked:before {
  content: "\ea53"; }

.icon-radio-checked:before {
  content: "\ea54"; }

.icon-radio-checked2:before {
  content: "\ea55"; }

.icon-radio-unchecked:before {
  content: "\ea56"; }

.icon-crop:before {
  content: "\ea57"; }

.icon-make-group:before {
  content: "\ea58"; }

.icon-ungroup:before {
  content: "\ea59"; }

.icon-scissors:before {
  content: "\ea5a"; }

.icon-filter:before {
  content: "\ea5b"; }

.icon-font:before {
  content: "\ea5c"; }

.icon-ligature:before {
  content: "\ea5d"; }

.icon-ligature2:before {
  content: "\ea5e"; }

.icon-text-height:before {
  content: "\ea5f"; }

.icon-text-width:before {
  content: "\ea60"; }

.icon-font-size:before {
  content: "\ea61"; }

.icon-bold:before {
  content: "\ea62"; }

.icon-underline:before {
  content: "\ea63"; }

.icon-italic:before {
  content: "\ea64"; }

.icon-strikethrough:before {
  content: "\ea65"; }

.icon-omega:before {
  content: "\ea66"; }

.icon-sigma:before {
  content: "\ea67"; }

.icon-page-break:before {
  content: "\ea68"; }

.icon-superscript:before {
  content: "\ea69"; }

.icon-subscript:before {
  content: "\ea6a"; }

.icon-superscript2:before {
  content: "\ea6b"; }

.icon-subscript2:before {
  content: "\ea6c"; }

.icon-text-color:before {
  content: "\ea6d"; }

.icon-pagebreak:before {
  content: "\ea6e"; }

.icon-clear-formatting:before {
  content: "\ea6f"; }

.icon-table:before {
  content: "\ea70"; }

.icon-table2:before {
  content: "\ea71"; }

.icon-insert-template:before {
  content: "\ea72"; }

.icon-pilcrow:before {
  content: "\ea73"; }

.icon-ltr:before {
  content: "\ea74"; }

.icon-rtl:before {
  content: "\ea75"; }

.icon-section:before {
  content: "\ea76"; }

.icon-paragraph-left:before {
  content: "\ea77"; }

.icon-paragraph-center:before {
  content: "\ea78"; }

.icon-paragraph-right:before {
  content: "\ea79"; }

.icon-paragraph-justify:before {
  content: "\ea7a"; }

.icon-indent-increase:before {
  content: "\ea7b"; }

.icon-indent-decrease:before {
  content: "\ea7c"; }

.icon-share:before {
  content: "\ea7d"; }

.icon-new-tab:before {
  content: "\ea7e"; }

.icon-embed:before {
  content: "\ea7f"; }

.icon-embed2:before {
  content: "\ea80"; }

.icon-terminal:before {
  content: "\ea81"; }

.icon-share2:before {
  content: "\ea82"; }

.icon-mail:before {
  content: "\ea83"; }

.icon-mail2:before {
  content: "\ea84"; }

.icon-mail3:before {
  content: "\ea85"; }

.icon-mail4:before {
  content: "\ea86"; }

.icon-amazon:before {
  content: "\ea87"; }

.icon-google:before {
  content: "\ea88"; }

.icon-google2:before {
  content: "\ea89"; }

.icon-google3:before {
  content: "\ea8a"; }

.icon-google-plus:before {
  content: "\ea8b"; }

.icon-google-plus2:before {
  content: "\ea8c"; }

.icon-google-plus3:before {
  content: "\ea8d"; }

.icon-hangouts:before {
  content: "\ea8e"; }

.icon-google-drive:before {
  content: "\ea8f"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-facebook2:before {
  content: "\ea91"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-whatsapp:before {
  content: "\ea93"; }

.icon-spotify:before {
  content: "\ea94"; }

.icon-telegram:before {
  content: "\ea95"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-vine:before {
  content: "\ea97"; }

.icon-vk:before {
  content: "\ea98"; }

.icon-renren:before {
  content: "\ea99"; }

.icon-sina-weibo:before {
  content: "\ea9a"; }

.icon-rss:before {
  content: "\ea9b"; }

.icon-rss2:before {
  content: "\ea9c"; }

.icon-youtube:before {
  content: "\ea9d"; }

.icon-youtube2:before {
  content: "\ea9e"; }

.icon-twitch:before {
  content: "\ea9f"; }

.icon-vimeo:before {
  content: "\eaa0"; }

.icon-vimeo2:before {
  content: "\eaa1"; }

.icon-lanyrd:before {
  content: "\eaa2"; }

.icon-flickr:before {
  content: "\eaa3"; }

.icon-flickr2:before {
  content: "\eaa4"; }

.icon-flickr3:before {
  content: "\eaa5"; }

.icon-flickr4:before {
  content: "\eaa6"; }

.icon-dribbble:before {
  content: "\eaa7"; }

.icon-behance:before {
  content: "\eaa8"; }

.icon-behance2:before {
  content: "\eaa9"; }

.icon-deviantart:before {
  content: "\eaaa"; }

.icon-500px:before {
  content: "\eaab"; }

.icon-steam:before {
  content: "\eaac"; }

.icon-steam2:before {
  content: "\eaad"; }

.icon-dropbox:before {
  content: "\eaae"; }

.icon-onedrive:before {
  content: "\eaaf"; }

.icon-github:before {
  content: "\eab0"; }

.icon-npm:before {
  content: "\eab1"; }

.icon-basecamp:before {
  content: "\eab2"; }

.icon-trello:before {
  content: "\eab3"; }

.icon-wordpress:before {
  content: "\eab4"; }

.icon-joomla:before {
  content: "\eab5"; }

.icon-ello:before {
  content: "\eab6"; }

.icon-blogger:before {
  content: "\eab7"; }

.icon-blogger2:before {
  content: "\eab8"; }

.icon-tumblr:before {
  content: "\eab9"; }

.icon-tumblr2:before {
  content: "\eaba"; }

.icon-yahoo:before {
  content: "\eabb"; }

.icon-yahoo2:before {
  content: "\eabc"; }

.icon-tux:before {
  content: "\eabd"; }

.icon-appleinc:before {
  content: "\eabe"; }

.icon-finder:before {
  content: "\eabf"; }

.icon-android:before {
  content: "\eac0"; }

.icon-windows:before {
  content: "\eac1"; }

.icon-windows8:before {
  content: "\eac2"; }

.icon-soundcloud:before {
  content: "\eac3"; }

.icon-soundcloud2:before {
  content: "\eac4"; }

.icon-skype:before {
  content: "\eac5"; }

.icon-reddit:before {
  content: "\eac6"; }

.icon-hackernews:before {
  content: "\eac7"; }

.icon-wikipedia:before {
  content: "\eac8"; }

.icon-linkedin:before {
  content: "\eac9"; }

.icon-linkedin2:before {
  content: "\eaca"; }

.icon-lastfm:before {
  content: "\eacb"; }

.icon-lastfm2:before {
  content: "\eacc"; }

.icon-delicious:before {
  content: "\eacd"; }

.icon-stumbleupon:before {
  content: "\eace"; }

.icon-stumbleupon2:before {
  content: "\eacf"; }

.icon-stackoverflow:before {
  content: "\ead0"; }

.icon-pinterest:before {
  content: "\ead1"; }

.icon-pinterest2:before {
  content: "\ead2"; }

.icon-xing:before {
  content: "\ead3"; }

.icon-xing2:before {
  content: "\ead4"; }

.icon-flattr:before {
  content: "\ead5"; }

.icon-foursquare:before {
  content: "\ead6"; }

.icon-yelp:before {
  content: "\ead7"; }

.icon-paypal:before {
  content: "\ead8"; }

.icon-chrome:before {
  content: "\ead9"; }

.icon-firefox:before {
  content: "\eada"; }

.icon-IE:before {
  content: "\eadb"; }

.icon-edge:before {
  content: "\eadc"; }

.icon-safari:before {
  content: "\eadd"; }

.icon-opera:before {
  content: "\eade"; }

.icon-file-pdf:before {
  content: "\eadf"; }

.icon-file-openoffice:before {
  content: "\eae0"; }

.icon-file-word:before {
  content: "\eae1"; }

.icon-file-excel:before {
  content: "\eae2"; }

.icon-libreoffice:before {
  content: "\eae3"; }

.icon-html-five:before {
  content: "\eae4"; }

.icon-html-five2:before {
  content: "\eae5"; }

.icon-css3:before {
  content: "\eae6"; }

.icon-git:before {
  content: "\eae7"; }

.icon-codepen:before {
  content: "\eae8"; }

.icon-svg:before {
  content: "\eae9"; }

.icon-IcoMoon:before {
  content: "\eaea"; }

/* -------- Style about home page -------- */
/* -------- Style about login page -------- */
/* -------- Import all file .scss in src/assets/responsive -------- */
/* -------- GLobal style responsive -------- */
