.card-imgage-cover {
  position: relative;
  text-align: center;

  .ant-card-cover {
    height: 400px;
  }

  .ant-avatar > img {
    height: auto;
    width: 100%;
  }

  .ant-avatar {
    border: 4px solid #fff;
  }

  .card-avatar {
    margin-top: -130px;
  }

  .menu-profile > a {
    color: #9a9fbf;
    font-weight: 700;
    padding-top: 20px;
    }

  .active > a {
    color: #515365;
  }

  .name-profile {
    margin-top: -4px;

    > a {
    font-size: 25px;
    color: #515365;
    font-weight: 700;
  }
  }
}

.empty {
  margin-top: 100px;
}

//About Me
.b-show-info-basic {
  .show-info {
    background: #f5f5f5;
    cursor: default;
  }

  .ant-input[disabled] {
    color: rgba(0, 0, 0, 0.65);
    background-color: #f5f5f5;
    cursor: default;
  }
}

.btn-profile {
  margin: 10px auto;
  display: table;
  width: 80%;
}

// Title hiển thị thông tin của HDV
.text-tour {
  font-weight: bold;
}