/* -------- Custom style of ant design -------- */

.code-box-demo {
  text-align: center;
}
.ant-layout-header {
  background: #7dbcea;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 21;
  padding: 0 100px;
}
.ant-layout-sider {
  background: #fff;
  color: #000;
  line-height: 120px;
}
.ant-layout-content {
  background-color: #edf2f6;
  color: #300;
  min-height: 850px;
}
// Style Sidebar
.ant-menu-vertical {
  border: 0;
}


> .code-box-demo > div > .ant-layout {
  margin-bottom: 48px;
}
> .code-box-demo > div > .ant-layout:last-child {
  margin: 0;
}
