/* -------- Custom style of ant design -------- */

.code-box-demo {
  text-align: center;
}
.ant-layout-header {
  background: #2699fb;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 21;
  padding: 0;
}
.ant-layout-sider {
  background: #fff;
  color: #000;
  line-height: 120px;
}
.ant-layout-content {
  background-color: #edf2f6;
  color: #300;
  min-height: 850px;
}
// Style Sidebar
.ant-menu-vertical {
  border: 0;
}


> .code-box-demo > div > .ant-layout {
  margin-bottom: 48px;
}
> .code-box-demo > div > .ant-layout:last-child {
  margin: 0;
}

// Style pages Home
.ant-tabs-tab {
  border-color: #fff;
}
// Style form post
.ant-form-item {
  margin: 0;
}

// Style Loading
.b-loading {
  .ant-spin-spinning {
    display: block;
  }

  .ant-spin {
    margin: 50px auto;
  }
}

// Style Thẻ, Location
.ant-tag {
  margin: 8px 8px 0 0;
}

// Style Content show bài viết nổi bật
.b-featured-post {
  .ant-list-item-meta-content {
    width: 250px;
  }
}

// Style from Hiển thị hình ảnh đăng bài viết
.ant-upload-list-picture-card .ant-upload-list-item {
  margin: 8px 8px 8px 0;
}

.ant-upload-list-item-info {
  span {
    height: 100%;
  }
}