/* -------- Custom style of ant design -------- */
// Color
$primary-color: #0E5ACE; // primary color for all components
$success-color: #28A745; // success state color
$warning-color: #FFC008; // warning state color
$error-color: #DC3545; // error state color
$text-color: #333; // color text primary
$gray-color: #CCCED0;
$border-color: #ECECEE;
$text-color-white: #FFF;
$color-notifi-success: #155723;
$color-notifi-error: #3C0700;
$color-notifi-warning: #9A5E07;
// Background
$bg-primary: #0E5ACE;
$bg-white: #fff;
$bg-success: #28A745;
$bg-warning: #FFC008;
$bg-error: #DC3545;
$bg-dark: #333;
$bg-gray-one: #CCCED0; // background color section type one
$bg-gray-secondary: #ECECEE; // background color section type secondary
$bg-gray-third: #F9F9FB; // background color section type third
$bg-notifi-success: #D4EDDA;
$bg-notifi-warning: #FFF3CD;
$bg-notifi-error: #F8D7DA;
$bg-send: #1E8E3D;
// Color Font Icon
$primary-icon: #0E5ACE;
$success-icon: #28A745;
$warning-icon: #FFC008;
$error-icon: #DC3545;
$text-icon: #333;
$gray-icon: #CCCED0;
$border-icon: #ECECEE;
// Color Input
$input-success: 0 0 0 2px rgba(106, 202, 59, 0.21);
