/* -------- Style about color -------- */
.color-blue {
  color: $color-primary;
}
.color-red {
  color: $color-text-red;
}

.b-color-blue {
  background-color: $bg-primary;
}

.b-color-pink {
  background-color: $bg-pink;
}