// ----------------------------------------------------------------------
// Grid Breakpoint
// ----------------------------------------------------------------------
$grid-breakpoints-xs: 0;
$grid-breakpoints-sm: 575;
$grid-breakpoints-md: 767;
$grid-breakpoints-lg: 991;
$grid-breakpoints-mlg: 1199;
$grid-breakpoints-xl: 1280;

// ----------------------------------------------------------------------
// color
// ----------------------------------------------------------------------
$color-primary: #2699fb;
$color-success: #28A745;
$color-required: #d5313d;
$color-text: #333;
$color-icon: #626262;
$color-hover: #2699fb;
$color-white: #fff;
$color-black: #000;
$color-border: #e8e8e8;
$color-label: #3A3C41;
$color-border-input: #D2D6E0;
$color-name-unit: #3A3C41;
$color-breadcrumb: #5c7080;
$color-border-gray: #CFCFCF;
$color-note: #828487;
$color-border-box: #E2E2E2;
$color-icon2: #B0B0B0;
$color-icon3: #9B9B9B;
$color-star: #F0CF26;
$color-gray: #C4C8D1;
$color-body-main: #f0f2f5;
/* -------- Variables -------- */
$color-border-editor: #F1F1F1;
$color-text-white: #fff;
$color-text-red: #c6444b;
$color-border-button-default: #d9d9d9;
$color-text-search: #6bc779;
$color-upcoming: #F9A204;
$color-green: #28A745;
$color-orange: #F9A204;
$color-number-date: rgba(0, 0, 0, 0.65);
$color-border-item: #D3DCE5;
// ----------------------------------------------------------------------
// Background
// ----------------------------------------------------------------------
$bg-gray: #fafafa;
$bg-body: #fff;
$bg-table: #F5F5F5;
$bg-editor: #3A3C41;
$bg-hover: #EEEEEE;
$bg-upcoming: rgba(255, 185, 58, 0.2);
$bg-required: rgba(251, 97, 108, 0.2);
$bg-green-opacity: #DFF2E3;
$bg-orange-opacity: #fff0d5;
$bg-blue-opacity: rgba(14, 90, 206, 0.2);
// ----------------------------------------------------------------------
// Font-family
// ----------------------------------------------------------------------
$font-family: 'Roboto', sans-serif;
$font-icon: 'icomoon';
// ----------------------------------------------------------------------
// Border
// ----------------------------------------------------------------------
$border-primary: 1px solid $color-border;
